<h1>Books</h1>

<table class="table table-bordered table-striped">
  <thead>
    <tr>
      <th>
        Title
        <br><small class="small not-bold">(Click on title for editing)</small>
      </th>
      <th class="vtop">Author</th>
      <th class="vtop">Written</th>
      <th class="vtop">Library</th>
      <th class="vtop"></th>
    </tr>
  </thead>
  <tbody>
    {{#each model as |book|}}
      <tr>
        <td>
          {{#if book.isEditingTitle}}
            <form {{action 'saveBookTitle' book on='submit'}} class="form-inline">
              <div class="input-group">
                {{input value=book.title class="form-control"}}
                <div class="input-group-btn">
                  <button type="submit" class="btn btn-success" disabled={{book.isNotValidTitle}}>Save</button>
                  <button class="btn btn-warning" {{action 'cancelBookTitleEdit' book}}>Cancel</button>
                </div>
              </div>
            </form>
          {{else}}
            <span {{action 'editBookTitle' book}}>{{book.title}}</span>
          {{/if}}
        </td>
        <td>
          <span>{{book.author.name}}</span>
        </td>
        <td>
          <span>{{moment-format book.releaseDate}}</span>
        </td>
        <td>
          <span>{{book.library.name}}</span>
        </td>
        <td>
          {{#link-to 'books.book' book.id class='btn btn-success'}}Details{{/link-to}}
        </td>
      </tr>
    {{/each}}
  </tbody>
</table>
